@model IEnumerable<kdh.Models.Testimonial>


    @foreach (var item in Model)
    {
        if (item.Reviewed == "YES")
        {
            <hr />
            <div>
                <div class="font-weight-bold lead">@Html.DisplayNameFor(model => model.Subject): @Html.DisplayFor(modelItem => item.Subject)</div>
                <div><span class="text-muted">@Html.DisplayNameFor(model => model.Rate):</span> @Html.DisplayFor(modelItem => item.Rate)/5</div>
                <div><span class="text-muted">@Html.DisplayNameFor(model => model.Content):</span> @Html.DisplayFor(modelItem => item.Content)</div>
                <div>
                    <span class="text-muted">@Html.DisplayNameFor(model => model.DepartmentId):</span> @Html.DisplayFor(modelItem => item.department.department_name)
                </div>
                <div>
                    <span class="text-muted">@Html.DisplayNameFor(model => model.Reviewed):</span> @Html.DisplayFor(modelItem => item.Reviewed)
                </div>
                <div><span class="text-muted">By:</span> @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Role)</div>
                <div><span class="text-muted">On:</span> @Html.DisplayFor(modelItem => item.Timestamp)</div>
                <div>
                    @Html.ActionLink("Edit", "Edit_Admin", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete_Admin", new { id = item.Id })
                </div>
            </div>
        }
    }