@model IEnumerable<kdh.Models.Testimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Testimonials</h2>
<p>This is the list of all testimonials from public.</p>
@foreach (var item in Model)
{
    
    <hr />
    <div>
        <div class="font-weight-bold lead">@Html.DisplayNameFor(model => model.Subject): @Html.DisplayFor(modelItem => item.Subject)</div>
        <div>@Html.DisplayNameFor(model => model.Rate): @Html.DisplayFor(modelItem => item.Rate)/5</div>
        <div>@Html.DisplayFor(modelItem => item.Content)</div>
        <div>
            @Html.DisplayNameFor(model => model.DepartmentId): @Html.DisplayFor(modelItem => item.department.department_name)
        </div>
        <div class="text-right">@Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Role)</div>
        <div class="text-right">@Html.DisplayFor(modelItem => item.Timestamp)</div>
        <div>
            @Html.ActionLink("Edit", "Edit_Admin", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete_Admin", new { id = item.Id })
        </div>

    </div>
}
