@model IEnumerable<kdh.Models.Testimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@if (TempData["SuccessMessage"] != null)
{
    <div class="text-success text-center">@TempData["SuccessMessage"]</div>
}

<h2>Testimonials</h2>
<p>Our hospital has received many good testimonials from our patients and visitors.</p>
<p>
    @Html.ActionLink("Add your own", "Create")
</p>
<!-- AJAX -->
<section class="row">
    <div class="offset-md-1 col-md-10">
        @using (Ajax.BeginForm("Testimonial_Search", "Testimonial",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "search_results",
                    InsertionMode = InsertionMode.Replace
                }, new { id = "search_form", autocomplete = "off" }
                ))
        {
            <div class="form-inline row">
                    <input type="text" name="term" class="form-control col-9" placeholder="Search testimonial content..."/>
                    <button type="submit" class="btn col-3">Search</button>
            </div>
        }
        <div id="search_results">

        </div>
    </div>
</section>

@foreach (var item in Model)
{
    if (item.Reviewed == "YES")
    {
    <hr />
    <div>
        <div class="font-weight-bold lead">@Html.DisplayNameFor(model => model.Subject): @Html.DisplayFor(modelItem => item.Subject)</div>
        <div>@Html.DisplayNameFor(model => model.Rate): @Html.DisplayFor(modelItem => item.Rate)/5</div>
        <div>@Html.DisplayFor(modelItem => item.Content)</div>
        <div>
            @Html.DisplayNameFor(model => model.DepartmentId): @Html.DisplayFor(modelItem => item.department.department_name)
        </div>
        <div class="text-right">@Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Role)</div>
        <div class="text-right">@Html.DisplayFor(modelItem => item.Timestamp)</div>
    </div>
    }
}
