
@{
    Layout = null;
}
        <div class="pt-5 text-danger text-center">This website is a part of the student projects and not a real hospital website.</div>
<footer id="footer" class="mainfooter mt-5" role="contentinfo">
    <div class="text-center">
        <div class="py-4">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <h5>Patients &amp; Visitors</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">General &amp; Visitor Info</a></li>
                        <li><a href="#">Programs &amp; Services</a></li>
                        <li><a href="#">Emergency Department</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>About Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">History and Profile</a></li>
                        <li><a href="@Url.Action("Index", "Testimonial")">Testimonials</a></li>
                        <li><a href="#">Quality &amp; Patient Safety</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Careers</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Job")">Career Opportunities</a></li>
                        <li><a href="#">Volunteer Opportunities</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Foundation</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Donations</a></li>
                        <li><a href="#">About the Foundation</a></li>
                        <li><a href="#">Contact Foundation</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Create", "OnlineConsultationForms")">Online Consultation Form</a></li>
                        <li><a href="@Url.Action("Create", "Surveys")">Survey</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pb-2 text-center">
        <div class="row justify-content-center">
            <div class="col-md-3" text-center><a href="@Url.Action("Login", "Account")">Admin Login</a></div>
            <div class="col-md-4">
                <p>&copy; @DateTime.Now.Year - Humber and District Hospital</p>
            </div>
            <div class="col-md-5">
                <a href="#">By Laws</a> | 
                <a href="#">Terms of Use</a> | 
                <a href="#">Financial Accountability</a>
            </div>
        </div>
    </div>
</footer>
