@{
    Layout = null;
}

    <!-- HEADER -->
<header class="mb-5">
    <div id="header">
    <div class="container-fluid">
        <div class="row p-2 py-3 align-items-center" id="title">
            <div class="col-1">
                    <a href="@Url.Action("Index", "Home")">
                        <img style="width: 100%; height: auto; min-width:40px; max-width:70px;" src="~/Images/LOGO.png" />
                    </a>
            </div>
            <div class="col-md-7 d-none d-md-block pr-0">
                <h2><a href="@Url.Action("Index", "Home")" class="h3 font-weight-bold">Humber and District Hospital</a></h2>
            </div>
            <div class="offset-1 col-4 col-md-2">
                <form>
                    <select class="form-control form-control-sm" aria-label="Language">
                        <option>EN</option>
                        <option>FR</option>
                    </select>
                </form>
            </div>
            <div class="col-3 col-md-1 text-right">
                <a href="@Url.Action("MakeDonation", "Donation")" class="btn btn-outline-primary btn-sm" id="donate-btn">Donate</a>
            </div>
            <div class="col-1">
                <button class="navbar-toggler navbar-light d-block d-md-none text-right" type="button" data-toggle="collapse" data-target="#toggleMenu" aria-controls="toggleMenu"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div> <!-- end of 1st row -->
        </div>
        <nav class="navbar navbar-expand-md blue-background" role="navigation" id="navigation">
            <div class="row collapse navbar-collapse" id="toggleMenu">
                <ul class="navbar-nav col-md-9 text-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white mr-lg-2" data-toggle="dropdown" href="#">Patient &amp; Visitor</a>
                        <div class="dropdown-menu blue-background">
                            <a href="@Url.Action("Login", "Account")" class="mx-3">Patient Portal</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white mr-lg-2" data-toggle="dropdown" href="#">About Us</a>
                        <div class="dropdown-menu blue-background">
                            <a href="@Url.Action("PublicView", "Doctor")" class="dropdown-item">Doctor's List</a>
                            <a href="@Url.Action("Details", "FAQ")" class="dropdown-item">FAQ</a>
                            <a href="@Url.Action("Index", "Testimonial")" class="dropdown-item">Testimonial</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white mr-lg-2" data-toggle="dropdown" href="#">Career &amp; Volunteer</a>
                        <div class="dropdown-menu blue-background">
                            <a href="@Url.Action("Index", "Job")" class="dropdown-item">Career Opportunities</a>
                            <a href="#" class="dropdown-item">Volunteer opportunities</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white mr-lg-2" href="#">Foundation</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white mr-lg-2" data-toggle="dropdown" href="#">Contact Us</a>
                        <div class="dropdown-menu blue-background">
                            <a href="@Url.Action("Create", "OnlineConsultationForms")" class="dropdown-item">Online Consultation Form</a>
                            <a href="@Url.Action("Create", "Surveys")" class="dropdown-item">Survey</a>
                            <a href="@Url.Action("Create", "Questions")" class="dropdown-item">Ask Query</a>
                        </div>
                    </li>

                </ul>
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light btn-sm" type="button">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        

    </div><!-- end of container fluid -->
    <div>
            <div class="p-2 text-danger text-center">This website is a part of the student projects and not a real hospital website.</div>

    </div>
</header>