@model IEnumerable<kdh.ViewModels.PatientVM>

@{
    ViewBag.Title = "List of All Patients";
}

<h2>List of All Patients</h2>

@foreach (var p in Model)
{
    <div>
        Name: @p.FullName   (@p.Gender)     Email address: @p.Email

        @* new { id = p.Id }  id should be the same as parameter of the action*@
        @Html.ActionLink("Details", "Detail", "Registration", new { id = p.Id }, null)
        @Html.ActionLink("Edit Patient", "Edit", "Registration", new { id = p.Id }, null)
        @if (p.UserId.HasValue)
        {
            @Html.ActionLink("Delete User Account", "Delete", "Registration", new { id = p.UserId }, null)
        }
    </div>
}
