@model IEnumerable<kdh.Models.Job>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    @ViewBag.SuccessMessage;
</div>
<h2>Career Opportunities</h2>
<p>The Human Resources Department at the Humber District Hospital works as a collaborative team with the Englehart and District Hospital to provide service for almost 400 full-time and part-time staff employed at the Hospitals.</p>
<p>Only qualified candidates will be contacted for an interview. Humber District Hospitals are equal opportunity employers. We welcome and encourage applications from people with disabilities. Accommodations are available on request for candidates taking part in all aspects of the selection process.</p>
<p class="font-weight-bold">Resumes will only be accepted via email to: resumes@kdhospital.com</p>
<p>This is a listing of our current job openings:</p>
@foreach (var item in Model)
{
    <hr />
    <div>
        <div class="text-uppercase font-weight-bold lead">@Html.DisplayNameFor(model => model.JobId): @item.JobId</div>
        <span>
            @Html.ActionLink("Details", "Details", new { job_id = item.JobId })
        </span>
        <dl class="row mb-0">
            <dt class="col-2">@Html.DisplayNameFor(model => model.JobTitle):</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.JobTitle)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.JobStatus)</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.JobStatus)</dd>
            <dt class="col-4 col-md-2">@Html.DisplayNameFor(model => model.DepartmentId)</dt>
            <dd class="col-8 col-md-10">@Html.DisplayFor(modelItem => item.department.department_name)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.DatePosted)</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.DatePosted)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.DateClosed)</dt>
            <dd class="col-4">@Html.DisplayFor(modelItem => item.DateClosed)</dd>
            <dt class="col-2">@Html.DisplayNameFor(model => model.User.Email)</dt>
            <dd class="col-10">@Html.DisplayFor(modelItem => item.User.Email)</dd>
        </dl>
        @*<div class="mb-3">@Html.ActionLink("Apply now", "Create", "JobApplicant", new { job_id = item.JobId }, null)</div>*@
    </div>
}
<div class="text-center">@Html.ActionLink("Apply now", "Create", "JobApplicant")</div>
