@model kdh.ViewModels.LabReportVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/PatientPortal/_PatientPortal.cshtml";
}

<h2>Create a Report</h2>
<p class="text-danger">* is a required field.</p>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ViewBag.PatientName -Lab Report</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.CollectionDate, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CollectionDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CollectionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-4">
            <div>
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-12" })
            </div>
            <div class="col-md-10">
                <label class="d-block">@Html.RadioButtonFor(model => model.Status, "Processing", new { @checked = "checked"}) Processing</label>
                <label class="d-block">@Html.RadioButtonFor(model => model.Status, "Complete") Complete</label>
                <label class="d-block">@Html.RadioButtonFor(model => model.Status, "Incomplete") Incomplete</label>
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.OrderedBy, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderedBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderedBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-4">
            @Html.Label("*Create new report and", new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                <label class="d-block">@Html.RadioButton("add_result", true, new { @checked = "checked" }) Add test results</label>
                <label class="d-block">@Html.RadioButton("add_result", false) Leave test results now</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { Id = ViewBag.PatientId })
</div>
