@model kdh.Models.Doctor
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Doctor</h2>
@ViewBag.err
<div class="container">
    @using (Html.BeginForm("Add", "Doctor", new { @class = "" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Fname)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Fname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Fname)
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Lname)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Lname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Lname)
                </div>

            </div>
            <div class="form-group col-md-6">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Email)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Email)
                </div>

            </div>
            <div class="form-group col-md-6">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Mobile_no)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Mobile_no, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Mobile_no)
                </div>

            </div>
            <div class="form-group col-md-12">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Address_line1)
                </div>

                <div class="">
                    @Html.EditorFor(Model => Model.Address_line1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Address_line1)
                </div>

            </div>
            <div class="form-group col-md-12">
                <div class="col-form-label col-sm-3">
                    @Html.DisplayNameFor(Model => Model.Address_line2)
                </div>

                <div class="">
                    @Html.EditorFor(Model => Model.Address_line2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Address_line2)
                </div>

            </div>
            <div class="form-group col-md-4">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Province)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Province, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Province)
                </div>

            </div>
            <div class="form-group col-md-4">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.City)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.City)
                </div>

            </div>
            <div class="form-group col-md-4">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Postal_code)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Postal_code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Postal_code)
                </div>

            </div>
            <div class="form-group col-md-4">

                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Date_of_join)
                </div>

                <div class="col-sm-9">
                    @Html.TextBoxFor(Model => Model.Date_of_join, new { @type = "Date", @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Date_of_join)
                </div>

            </div>

            <div class="form-group col-md-4">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Departmentid)
                </div>

                <div class="">
                    @Html.DropDownListFor(Model => Model.Departmentid, new SelectList(ViewBag.Departments, "departmentid", "department_name"), "Select Department", new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Departmentid)
                </div>

            </div>
            <div class="form-group col-md-4">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Speciality)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Speciality, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Speciality)
                </div>

            </div>
            <input type="submit" value="ADD" class="btn btn-primary" />

            @Html.ActionLink("back to list", "Index", "Doctor")
        </div>
    }
</div>

