
@model kdh.Models.Doctor
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update doctor</h2>

<div class="container">
    @using (Html.BeginForm("Update", "Doctor", new { @class = "" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.Doctorid)
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Fname)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Fname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Fname)
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Lname)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Lname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Lname)
                </div>

            </div>
            <div class="form-group col-md-6">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Email)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Email)
                </div>

            </div>
            <div class="form-group col-md-6">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Mobile_no)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Mobile_no, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Mobile_no)
                </div>

            </div>
            <div class="form-group col-md-12">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Address_line1)
                </div>

                <div class="">
                    @Html.EditorFor(Model => Model.Address_line1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Address_line1)
                </div>

            </div>
            <div class="form-group col-md-12">
                <div class="col-form-label col-sm-3">
                    @Html.DisplayNameFor(Model => Model.Address_line2)
                </div>

                <div class="">
                    @Html.EditorFor(Model => Model.Address_line2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Address_line2)
                </div>

            </div>
            <div class="form-group col-md-4">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Province)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Province, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Province)
                </div>

            </div>
            <div class="form-group col-md-4">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.City)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.City)
                </div>

            </div>
            <div class="form-group col-md-4">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Postal_code)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Postal_code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Postal_code)
                </div>

            </div>
            <div class="form-group col-md-4">

                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Date_of_join)
                </div>

                <div class="col-sm-9">
                    @*@Html.TextBoxFor(Model => Model.Date_of_join, new { @type = "Date", @class = "form-control", Value = Model.Date_of_join })*@
                    @*@Html.TextBoxFor(Model => Model.Date_of_join, new { htmlAttributes = new {@Value = @Model.Date_of_join.ToString(), @class = "customclass"} })*@
                    @*@Html.EditorFor(Model=>Model.Date_of_join, new { @type = "date" })*@
                    @Html.TextBoxFor(model => model.Date_of_join, "{0:yyyy-MM-dd}", new { type = "date" })

                    @Html.ValidationMessageFor(Model => Model.Date_of_join)
                </div>

            </div>

            <div class="form-group col-md-4">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Departmentid)
                </div>

                <div class="">
                    @Html.DropDownListFor(Model => Model.Departmentid, new SelectList(ViewBag.Departments, "departmentid", "department_name"), "Select Department", new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Departmentid)
                </div>

            </div>
            <div class="form-group col-md-4">
                <div class="col-form-label">
                    @Html.DisplayNameFor(Model => Model.Speciality)
                </div>

                <div class="">
                    @Html.TextBoxFor(Model => Model.Speciality, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Speciality)
                </div>

            </div>
            <input type="submit" value="Update" class="btn btn-outline-primary btn-sm ml-2 my-1 col-md-3" />

            @Html.ActionLink("back to list", "Index", "Doctor",new { }, new { @class = "btn btn-outline-primary btn-sm ml-2 my-1 col-md-3" })
        </div>
    }
</div>
<script>

</script>