@model  IEnumerable<kdh.Models.FAQ>
@{
    ViewBag.Title = "FindFAQs";
    Layout = "~/Views/Shared/FAQDonation/_FaqDonation.cshtml";
}

<h2 class="text-center text-dark">Frequently Asked Questions(FAQ)</h2>
<div class="mb-2 container">
    <div class="row ">
        <a href="@Url.Action("Details", "FAQ")" class="btn btn-primary my-3 mr-5">List of All FAQs</a>
        @using (Html.BeginForm("FindFAQsPublic", "FAQ"))
            {
            @Html.AntiForgeryToken()
            <div class="input-group offset-11 ">
                @Html.TextBox("FaqName", null, new { @class = "form-control my-3 py-2 border-right-0 border border-dark" })
                <span class="input-group-append  my-3">
                    <input type="submit" aria-labelledby="search button" value="Go" class="btn bg-primary text-white border-left-0 border border-dark">
                </span>
            </div>
        }
    </div>

   
    <div class="text-danger mb-4 offset-8">@ViewBag.SearchError</div>
    <div class="text-success mb-4 offset-8">@ViewBag.CountResult</div>
   
    

</div>




@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="card-header faq-header bg-light">
            <span class="h5 text-primary font-weight-bold"> + @Html.DisplayFor(modelItem => item.Question)</span>
        </div>
        <div class="card-body faq-body">
            <div class="card-text">
                <span class="font-weight-bold text-primary">
                    Answer:
                    @*@Html.DisplayNameFor(model => item.Answer):*@
                </span>
                @if (item.Answer != null)
                {
                    @Html.DisplayFor(modelItem => item.Answer) <br />
                }
                else
                {
                    @Html.Raw("N/A")            <br />
                }
            </div>

        </div>
    </div>

}