@model kdh.Models.TestType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/PatientPortal/_PatientPortal.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TestType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
