@{
    ViewBag.Title = "Partial Details";
}

<h3>An Error Occured</h3>

<p>@ViewBag.DbExceptionMessage</p>
<p>@ViewBag.EntityCode</p>
<p>@ViewBag.EntityExceptionMessage</p>
<p>@ViewBag.SqlExceptionNumber</p>
<p>@ViewBag.SqlExceptionMessage</p>
<p>@ViewBag.ExceptionMessage</p>
