
@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Details</h2>

<h2 class="text-center">Error Occured</h2>
<p class="text-center">Error may occured due to incomplete Required information. Fill required information.</p>

<p>@ViewBag.DbExceptionMessage</p>
<p>@ViewBag.EntityCode</p>
<p>@ViewBag.EntityExceptionMessage</p>
<p>@ViewBag.SqlExceptionNumber</p>
<p>@ViewBag.SqlExceptionMessage</p>
<p>@ViewBag.ExceptionMessage</p>
